# Model files
*.joblib
*.pkl
*.h5
*.model

# Large data files
*.csv
*.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
.env/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo 